@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

}

.responseive-grid{
  grid-template-columns: repeat(auto-fit,minmax(110px, 1fr));
}
.cliped{
  clip-path: polygon(100% 0, 100% 100%, 82% 100%, 0 100%, 0 37%);
}
.ci-text:after {
  /* display: flex; */
  /* background-color: red;
  content: "";
  height: 400px;
  width: 400px;
  z-index: 1000; */
  position: absolute;
  left: -5px;
  top: -44px;
  height: 100px;
  width: 600px;
  border-top: 4px solid #464646;
  background: #0a0a0a;
  content: "";
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: -1;
}
.zi-10{
  z-index: 10;
}